<main>

  <section class="inner">
    <h1>Tools</h1>
    <h2>My tools, apps and devices of choice. These things I use on a daily basis, in my work and life.</h2>

    <h3>Setup</h3>
    <div class="cards-tools-grid">

      <!-- MacBook Pro 15" -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/macbook.svg')%></div>
        <h4>MacBook Pro 15"</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Keyboard -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/keyboard.svg')%></div>
        <h4>Apple Keyboard +</h4>
        <p>My favorite editor et je sais que je me répète !<br><br></p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Roost Stand -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/stand.svg')%></div>
        <h4>Roost Stand</h4>
        <p>To prevent neck and back pain. Small and useful !</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.therooststand.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Dell Screen -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/dell.svg')%></div>
        <h4>Dell U2415</h4>
        <p>My favorite editor et je sais que je me répète !<br><br></p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Bose QC25 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/bose.svg')%></div>
        <h4>Bose QC 25</h4>
        <p>Sound reduction + quality !<br><br></p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>

    <h3>Design</h3>
    <div class="cards-tools-grid">
      <!-- Balsamiq -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/balsamiq.svg')%></div>
        <h4>Balsamiq</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Dribbble-->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/dribbble.svg')%></div>
        <h4>Dribbble</h4>
        <p>My one stop shop for design inspiration</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Figma -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/figma.svg')%></div>
        <h4>Figma</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>


    </div>

    <h3>Development</h3>
    <div class="cards-tools-grid">
      <!-- iTerm 2 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/iterm.svg')%></div>
        <h4>iTerm 2</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Atom -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/atom.svg')%></div>
        <h4>Atom</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Github -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/github.svg')%></div>
        <h4>Github</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Sass -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/sass.svg')%></div>
        <h4>Sass</h4>
        <p>CSS with superpower !</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Ruby -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/ruby.svg')%></div>
        <h4>Ruby</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- JS -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/js.svg')%></div>
        <h4>Javascript</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- jQuery -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/jquery.svg')%></div>
        <h4>jQuery</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Middleman -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/middleman.svg')%></div>
        <h4>Middleman</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Netlify -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/netlify.svg')%></div>
        <h4>Netlify</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>


    <h3>Productivity</h3>
    <div class="cards-tools-grid">

      <!-- Things 3 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/things.svg')%></div>
        <h4>Things 3</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Notion -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/notion.svg')%></div>
        <h4>Notion</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Airmail -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/airmail.svg')%></div>
        <h4>Airmail</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Fantastical -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/fantastical.svg')%></div>
        <h4>Fantastical</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- 1Password -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/1password.svg')%></div>
        <h4>1Password</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- CleanMyMac -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/cleanmymac.svg')%></div>
        <h4>CleanMyMac X</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>

    <h3>Productivity</h3>
    <div class="cards-tools-grid">

      <!-- Things 3 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/things3.svg')%></div>
        <h4>Things 3</h4>
        <p>My favorite editor</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
</div>

  </section>
</main>
