<h1>Tools</h1>
<h2>My tools, apps and devices of choice.<br>These things I use on a daily basis, in my work and life.</h2>

<ul class="categories">
  <li><a href="#setup"  class="categories__item pink">Setup</a></li>
  <li><a href="#design" class="categories__item blue">Design</a></li>
  <li><a href="#code" class="categories__item green">Code</a></li>
  <li><a href="#productivity" class="categories__item purple">Productivity</a></li>
  <li><a href="#everyday" class="categories__item orange">Everyday</a></li>
</ul>

<h3 id="setup" class="title">Setup</h3>
<div class="cards">

  <!-- MacBook -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/macbook.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>MacBook Pro 15"</h4>
      <p>Running like clockwork since late 2013.</p>
      <%= link_to("Go to website", "https://support.apple.com/kb/sp690", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Keyboard -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/keyboard.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Apple Keyboard</h4>
      <p>Great keyboard. I never use the keypad though</p>
      <%= link_to("Go to website", "https://www.apple.com/shop/product/MQ052LL/A/magic-keyboard-with-numeric-keypad-us-english-silver", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Stand -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/stand.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Roost Stand</h4>
      <p>Ajustable and portable laptop stand. So useful!</p>
      <%= link_to("Go to website", "https://www.therooststand.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Dell -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/dell.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Dell U2415</h4>
      <p>In combination with MBP screen for great comfort</p>
      <%= link_to("Go to website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Bose -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/bose.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Bose QC 25
        <i class="fas fa-heart"></i>
      </h4>
      <p>Sound reduction is amazing on this device</p>
      <%= link_to("Go to website", "https://www.amazon.com/Bose-QuietComfort-Acoustic-Cancelling-Headphones/dp/B00M1NEUKK", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Boom 3 -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/boom3.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Boom 3</h4>
      <p>My lightweight bluetooth speaker</p>
      <%= link_to("Go to website", "https://www.ultimateears.com/en-us/wireless-speakers/boom-3.html", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

</div>

<h3 id="design" class="title">Design</h3>
<div class="cards">

  <!-- Balsamiq -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/balsamiq.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Balsamiq</h4>
      <p>Best tool for quick and easy wireframing</p>
      <%= link_to("Go to website", "https://balsamiq.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Sketch -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/sketch.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Sketch</h4>
      <p>Mac OS design software of choice</p>
      <%= link_to("Go to website", "https://www.sketchapp.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Figma -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/figma.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Figma
        <i class="fas fa-heart"></i>
      </h4>
      <p>Becoming my favorite digital design tool</p>
      <%= link_to("Go to website", "https://www.figma.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Iconjar -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/iconjar.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>IconJar</h4>
      <p>Perfect icons manager for the Mac</p>
      <%= link_to("Go to website", "https://geticonjar.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

</div>

<h3 id="code" class="title">Code</h3>
<div class="cards">

  <!-- Sass -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/sass.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Sass</h4>
      <p>Variables, Mixins, Imports... CSS with superpowers !<br></p>
      <%= link_to("Go to website", "https://sass-lang.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Smacss -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/smacss.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Smacss</h4>
      <p>Easy to maintain css, for smaller projects too<br></p>
      <%= link_to("Go to website", "https://smacss.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Ruby -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/ruby.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Ruby</h4>
      <p>Elegant and clear programming language</p>
      <%= link_to("Go to website", "https://www.ruby-lang.org/en/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- JS -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/js.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>JavaScript</h4>
      <p>The core of front-end development</p>
      <%= link_to("Go to website", "https://www.javascript.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- jQuery -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/jquery.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>jQuery</h4>
      <p>The JavaScript library that lets me write much less</p>
      <%= link_to("Go to website", "https://jquery.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Middleman -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/middleman.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Middleman
        <i class="fas fa-heart"></i>
      </h4>
      <p>Ruby-based static site generator</p>
      <%= link_to("Go to website", "https://middlemanapp.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Netlify CMS -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/netlifycms.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Netlify CMS
        <i class="fas fa-heart"></i>
      </h4>
      <p>Free and open source headless CMS</p>
      <%= link_to("Go to website", "https://www.netlifycms.org/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Git -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/git.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Git</h4>
      <p>Version control and source code management</p>
      <%= link_to("Go to website", "https://git-scm.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Github -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/github.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Github</h4>
      <p>Host of choice for my git-based projects</p>
      <%= link_to("Go to website", "https://github.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Netlify -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/netlify.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Netlify</h4>
      <p>Dead simple git-based deployment workflow</p>
      <%= link_to("Go to website", "https://www.netlify.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Atom -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/atom.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Atom</h4>
      <p>My favorite editor<br><br></p>
      <%= link_to("Go to website", "https://atom.io/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- iTerm 2 -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/iterm.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>iTerm 2</h4>
      <p>My terminal replacement<br><br></p>
      <%= link_to("Go to website", "https://www.iterm2.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

</div>

<h3 id="productivity" class="title">Productivity</h3>
<div class="cards">

  <!-- Things 3 -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/things.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Things 3
        <i class="fas fa-heart"></i>
      </h4>
      <p>Super elegant and powerful todo app</p>
      <%= link_to("Go to website", "https://culturedcode.com/things/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>
  <!-- Slack -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/slack.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Slack</h4>
      <p>Team collaboration made easy and fun</p>
      <%= link_to("Go to website", "https://slack.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>
  <!-- Trello -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/trello.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Trello</h4>
      <p>Where I manage team projects the kanban way</p>
      <%= link_to("Go to website", "https://trello.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>
  <!-- Notion -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/notion.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Notion</h4>
      <p>An app to rule them all. Soon to be my fave !</p>
      <%= link_to("Go to website", "https://www.notion.so/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>
  <!-- Airmail -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/airmail.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Airmail</h4>
      <p>Best email client for Mac and iOS</p>
      <%= link_to("Go to website", "http://airmailapp.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>
  <!-- Fantastical -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/fantastical.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Fantastical</h4>
      <p>Beautiful and powerful calendar for Mac and iOS</p>
      <%= link_to("Go to website", "https://flexibits.com/fantastical", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Alfred 3 -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/alfred.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Alfred 3</h4>
      <p>Powerful search for the Mac and the web</p>
      <%= link_to("Go to website", "https://www.alfredapp.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- 1Password -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/1password.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>1Password</h4>
      <p>Password manager I couldn't live without</p>
      <%= link_to("Go to website", "https://1password.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- CleanMyMac -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/cleanmymac.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>CleanMyMac</h4>
      <p>Making my MBP rock since 2013. A must have</p>
      <%= link_to("Go to website", "https://macpaw.com/cleanmymac", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

</div>

<h3 id="everyday" class="title">Everyday</h3>
<div class="cards">

  <!-- iPhone -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/iphone.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>iPhone 7</h4>
      <p>Great to give and receive calls, among other things</p>
      <%= link_to("Go to website", "https://www.apple.com/shop/buy-iphone/iphone-7", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Spotify -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/spotify.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Spotify</h4>
      <p>My BFF, punto<br><br></p>
      <%= link_to("Go to website", "https://www.spotify.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Headspace -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/headspace.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Headspace</h4>
      <p>Helps me meditate the right way</p>
      <%= link_to("Go to website", "https://www.headspace.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Pocket -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/pocket.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Pocket</h4>
      <p>My reading list, synced on all devices</p>
      <%= link_to("Go to website", "https://getpocket.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Castro -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/castro.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Castro</h4>
      <p>That app made me fall in love with podcasts (iOS)</p>
      <%= link_to("Go to website", "http://supertop.co/castro/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Streak -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/streak.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Streak</h4>
      <p>A very fun way to maintain good habits (iOS)</p>
      <%= link_to("Go to website", "https://streaksapp.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Feedly -->
  <div class="cards__item cards__tools">
    <%= image_tag('tools/feedly.svg', class: 'cards__item-img')%>
    <div class="cards__item-copy">
      <h4>Feedly</h4>
      <p>My place to organize and read blogs I like</p>
      <%= link_to("Go to website", "https://feedly.com/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

</div>
