<main>

  <section class="inner">
    <h1>Tools</h1>
    <h2>My tools, apps and devices of choice. These things I use on a daily basis, in my work and life.</h2>

    <h3>Setup</h3>
    <div class="cards-tools-grid">

      <!-- MacBook Pro 15" -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/macbook.svg')%></div>
        <h4>MacBook Pro 15"</h4>
        <p>Running like clockwork since late 2013.</p>
        <div class="tool-cta"><%= link_to("Website", "https://support.apple.com/kb/sp690", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Keyboard -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/keyboard.svg')%></div>
        <h4>Apple Keyboard +</h4>
        <p>Great keyboard. I never use the keypad though.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Roost Stand -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/stand.svg')%></div>
        <h4>Roost Stand</h4>
        <p>Ajustable and portable laptop stand. So useful!</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.therooststand.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Dell Screen -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/dell.svg')%></div>
        <h4>Dell U2415</h4>
        <p>In combination with MBP screen for great comfort.<br><br></p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/dp/B00OA2I362/ref=pe_386171_38075861_TE_item", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Bose QC25 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/bose.svg')%></div>
        <h4>Bose QC 25 <i class="fas fa-heart"></i></h4>
        <p>Sound reduction is amazing on this device</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.amazon.com/Bose-QuietComfort-Acoustic-Cancelling-Headphones/dp/B00M1NEUKK", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>

    <h3>Design</h3>
    <div class="cards-tools-grid">
      <!-- Balsamiq -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/balsamiq.svg')%></div>
        <h4>Balsamiq</h4>
        <p>Best tool for quick and easy wireframing.</p>
        <div class="tool-cta"><%= link_to("Website", "https://balsamiq.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Dribbble -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/dribbble.svg')%></div>
        <h4>Dribbble</h4>
        <p>My best source of design inspiration.</p>
        <div class="tool-cta"><%= link_to("Website", "https://dribbble.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Sketch-->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/sketch.svg')%></div>
        <h4>Sketch</h4>
        <p>Mac OS design software of choice.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.sketchapp.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Figma -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/figma.svg')%></div>
        <h4>Figma <i class="fas fa-heart"></i></h4>
        <p>Becoming my favorite digital design tool</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.figma.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>

    <h3>Code</h3>
    <div class="cards-tools-grid">

      <!-- Sass -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/sass.svg')%></div>
        <h4>Sass <i class="fas fa-heart"></i></h4>
        <p>CSS with superpower</p>
        <div class="tool-cta"><%= link_to("Website", "https://sass-lang.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Ruby -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/ruby.svg')%></div>
        <h4>Ruby</h4>
        <p>Elegant and clear programming language</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.ruby-lang.org/en/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- JS -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/js.svg')%></div>
        <h4>Javascript</h4>
        <p>The core of front-end development.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.javascript.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- jQuery -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/jquery.svg')%></div>
        <h4>jQuery</h4>
        <p>The JavaScript library that lets me write much less.</p>
        <div class="tool-cta"><%= link_to("Website", "https://jquery.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Middleman -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/middleman.svg')%></div>
        <h4>Middleman <i class="fas fa-heart"></i></h4>
        <p>Ruby-based static site generator.</p>
        <div class="tool-cta"><%= link_to("Website", "https://middlemanapp.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Netlify CMS -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/netlifycms.svg')%></div>
        <h4>Netlify CMS <i class="fas fa-heart"></i></h4>
        <p>Free and open source headless CMS.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.netlifycms.org/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Git -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/git.svg')%></div>
        <h4>Git</h4>
        <p>Version control and source code management.</p>
        <div class="tool-cta"><%= link_to("Website", "https://git-scm.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Github -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/github.svg')%></div>
        <h4>Github</h4>
        <p>Host of choice for git-based projects.</p>
        <div class="tool-cta"><%= link_to("Website", "https://github.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Netlify -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/netlify.svg')%></div>
        <h4>Netlify</h4>
        <p>Dead simple git-based deployment workflow.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.netlify.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Atom -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/atom.svg')%></div>
        <h4>Atom</h4>
        <p>My favorite editor.</p>
        <div class="tool-cta"><%= link_to("Website", "https://atom.io/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- iTerm 2 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/iterm.svg')%></div>
        <h4>iTerm 2</h4>
        <p>My terminal replacement.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.iterm2.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>


    <h3>Productivity</h3>
    <div class="cards-tools-grid">

      <!-- Things 3 -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/things.svg')%></div>
        <h4>Things 3 <i class="fas fa-heart"></i></h4>
        <p>Super elegant and powerful todo app.</p>
        <div class="tool-cta"><%= link_to("Website", "https://culturedcode.com/things/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Slack -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/slack.svg')%></div>
        <h4>Slack</h4>
        <p>Team collaboration made super easy and fun.</p>
        <div class="tool-cta"><%= link_to("Website", "https://slack.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Trello -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/trello.svg')%></div>
        <h4>Trello</h4>
        <p>Where I manage team projects the kanban way.</p>
        <div class="tool-cta"><%= link_to("Website", "https://trello.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Notion -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/notion.svg')%></div>
        <h4>Notion</h4>
        <p>An app to rule them all. Soon to be my fave !</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.notion.so/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

      <!-- Airmail -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/airmail.svg')%></div>
        <h4>Airmail</h4>
        <p>Best email client for Mac and iOS. </p>
        <div class="tool-cta"><%= link_to("Website", "http://airmailapp.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Fantastical -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/fantastical.svg')%></div>
        <h4>Fantastical</h4>
        <p>Beautiful and powerful calendar for Mac and iOS.</p>
        <div class="tool-cta"><%= link_to("Website", "https://flexibits.com/fantastical", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- 1Password -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/1password.svg')%></div>
        <h4>1Password</h4>
        <p>Using it at least 50 times a day. Not kidding.</p>
        <div class="tool-cta"><%= link_to("Website", "https://1password.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- CleanMyMac -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/cleanmymac.svg')%></div>
        <h4>CleanMyMac X</h4>
        <p>Making my MBP rock since 2013. A must have to me.</p>
        <div class="tool-cta"><%= link_to("Website", "https://macpaw.com/cleanmymac", class: 'card-tool-btn', target: '_blank') %></div>
      </div>

    </div>

    <h3>Everyday</h3>
    <div class="cards-tools-grid">

      <!-- iPhone -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/iphone.svg')%></div>
        <h4>iPhone 7</h4>
        <p>Great to give and receive calls, among other things.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.apple.com/shop/buy-iphone/iphone-7", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Spotify -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/spotify.svg')%></div>
        <h4>Spotify</h4>
        <p>My BFF, punto.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.spotify.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Headspace -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/headspace.svg')%></div>
        <h4>Headspace</h4>
        <p>Helps me meditate the right way.</p>
        <div class="tool-cta"><%= link_to("Website", "https://www.headspace.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Pocket -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/pocket.svg')%></div>
        <h4>Pocket</h4>
        <p>My reading list, synced on all devices.</p>
        <div class="tool-cta"><%= link_to("Website", "https://getpocket.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Castro -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/castro.svg')%></div>
        <h4>Castro</h4>
        <p>That app made me fall in love with podcasts (iOS).</p>
        <div class="tool-cta"><%= link_to("Website", "http://supertop.co/castro/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Streak -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/streak.svg')%></div>
        <h4>Streak</h4>
        <p>A very fun way to maintain good habits (iOS).</p>
        <div class="tool-cta"><%= link_to("Website", "https://streaksapp.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>
      <!-- Feedly -->
      <div class="card-tool-container">
        <div class="tool-logo"><%= image_tag ('tools/feedly.svg')%></div>
        <h4>Feedly</h4>
        <p>My place to organize and read blogs I like.</p>
        <div class="tool-cta"><%= link_to("Website", "https://feedly.com/", class: 'card-tool-btn', target: '_blank') %></div>
      </div>




</div>

  </section>
</main>
