<main>

  <section class="inner">
    <h1>Work</h1>
    <h2>Here's a list of recent projects I worked on for some great clients, as well as personal side projects</h2>

    <!-- Cards for Work page -->
    <div class="cards-grid">

      <!-- Card RavalAds -->
      <div class="card-work-container">
        <%= image_tag ('work/ravalads.png')%>
        <div class="card-work-body">
          <h3><%= link_to("Ravalads", "/ravalads.html")%></h3>
          <ul class="tags">
            <li class="tag">branding</li>
            <li class="tag">design</li>
            <li class="tag">development</li>
          </ul>
          <p>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
          <%= link_to("Read case study", "/ravalads.html", class: 'card-work-btn') %>
        </div>
      </div>

      <!-- Card Gustin -->
      <div class="card-work-container">
        <%= image_tag ('work/gustin.png')%>
        <div class="card-work-body">
          <h3>Gustin</h3>
          <ul class="tags">
            <li class="tag">branding</li>
            <li class="tag">design</li>
          </ul>
          <p>After its V1 website, Gustin needed a fresh face. The idea was to redesign the current home page with a cleaner and more modern layout, for a better user experience and concept understanding.</p>
          <%= link_to("Read case study", "/ravalads.html", class: 'card-work-btn') %>
        </div>
      </div>

      <!-- Card 42 Movie Quotes -->
      <div class="card-work-container">
        <%= image_tag ('work/42moviequotes.png')%>
        <div class="card-work-body">
          <h3>42 Movie Quotes</h3>
          <ul class="tags">
            <li class="tag">side project</li>
            <li class="tag">instagram</li>
          </ul>
          <p>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
          <%= link_to("Read case study", "/ravalads.html", class: 'card-work-btn') %>
        </div>
      </div>

      <!-- Card Jobifit -->
      <div class="card-work-container">
        <%= image_tag ('work/ravalads.png')%>
        <div class="card-work-body">
          <h3>Jobifit</h3>
          <ul class="tags">
            <li class="tag">branding</li>
            <li class="tag">design</li>
          </ul>
          <p>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
          <%= link_to("Read case study", "/ravalads.html", class: 'card-work-btn') %>
        </div>
      </div>

      <!-- Card CoachOasis -->
      <div class="card-work-container">
        <%= image_tag ('work/ravalads.png')%>
        <div class="card-work-body">
          <h3>CoachOasis</h3>
          <ul class="tags">
            <li class="tag">branding</li>
            <li class="tag">ux design</li>
          </ul>
          <p>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
          <%= link_to("Read case study", "/ravalads.html", class: 'card-work-btn') %>
        </div>
      </div>

    </div>

  </section>
</main>
