<h1>Work</h1>
<h2>Here's a list of recent projects I worked on for some great clients, as well as personal side projects.</h2>

<div class="cards">

  <!-- Card Gustin -->
  <!-- <div class="cards__item cards__work">
    <%= link_to(image_tag('work/gustin.png', class: 'cards__item-img'), "/gustin.html")%>
    <div class="cards__item-copy">
      <h3>Gustin</h3>
      <ul class="tags">
        <li class="tags__item">branding</li>
        <li class="tags__item">design</li>
      </ul>
      <p><span>Gustin</span> needed a fresh face. The idea was to redesign the current home page with a modern and cleaner layout, for a better user experience and concept understanding.</p>
        <%= link_to("Read case study", "/gustin.html", class: 'cards__btn cards__btn--secondary') %>
    </div>
  </div> -->

  <!-- RavalAds -->
  <div class="cards__item cards__work">
    <%= link_to(image_tag('work/ravalads.png', class: 'cards__item-img'), "/ravalads.html")%>
    <div class="cards__item-copy">
      <h3>RavalAds</h3>
      <ul class="tags">
        <li class="tags__item">branding</li>
        <li class="tags__item">design</li>
        <li class="tags__item">development</li>
      </ul>
      <p>As a new advertising network company on the market,
        <span>RavalAds</span>
        needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
        <%= link_to("Read case study", "/ravalads.html", class: 'cards__btn cards__btn--secondary') %>
    </div>
  </div>

  <!-- Card 42 Movie Quotes -->
  <div class="cards__item cards__work">
    <%= link_to(image_tag('work/42moviequotes.png', class: 'cards__item-img'), "https://www.instagram.com/42moviequotes/", target: '_blank')%>
    <div class="cards__item-copy">
      <h3>42 Movie quotes</h3>
      <ul class="tags">
        <li class="tags__item">side project</li>
        <li class="tags__item">instagram</li>
      </ul>
      <p>As I love movie punchlines, I decided to design and share minimalistic cards displaying politically incorrect movie quotes on scene backgrounds.</p>
        <%= link_to("Visit Instagram account", "https://www.instagram.com/42moviequotes/", class: 'cards__btn cards__btn--secondary', target: '_blank') %>
    </div>
  </div>

  <!-- Card Jobifit -->
  <div class="cards__item cards__work">
    <%= link_to(image_tag('work/jobifit.png', class: 'cards__item-img'), "/jobifit.html")%>
    <div class="cards__item-copy">
      <h3>Jobifit</h3>
      <ul class="tags">
        <li class="tags__item">branding</li>
        <li class="tags__item">design</li>
      </ul>
      <p><span>Jobifit</span> is a marketplace for fitness professionals: employers publish job ads and browse trainers database. I designed full wireframes and brand identity of the app.</p>

        <%= link_to("Read case study", "/jobifit.html", class: 'cards__btn cards__btn--secondary') %>
    </div>
  </div>



  <!-- Card CoachOasis -->
  <!-- <div class="cards__item cards__work">
    <%= link_to(image_tag('work/coachoasis.png', class: 'cards__item-img'), "/coachoasis.html")%>
    <div class="cards__item-copy">
      <h3>CoachOasis</h3>
      <ul class="tags">
        <li class="tags__item">branding</li>
        <li class="tags__item">ux</li>
        <li class="tags__item">pm</li>
      </ul>
      <p>As a new advertising network company on the market,
        <span>RavalAds</span>
        needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</p>
        <%= link_to("Read case study", "/coachoasis.html", class: 'cards__btn cards__btn--primary') %>
    </div>
  </div> -->

</div>
